
.square{
  height: 150px;
  width: 150px;
  background-color: chocolate;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win{
  color: greenyellow;
}

.lose{
  color: red;
}